<% if current_user.try(:admin?) %>
    <div class="page-content">
        <div class="row">
            <%= render "admin/shared/wrap" %>
        </div>
    </div>
<% else %>
    <!-- page content -->
    <div class="main-wrapper">
        <header class="aa_head aa_clearfix">
            <div class="aa_position--relative aa_gr aa_gr--<%= 1 + rand(8) %>">
                <div class="container-resp aa_clearfix">
                    <div class="aa_header__text">
                        <h1 class="aa_header__text__title aa_header__text__title--l aa__text--condensed" style="text-align: center;">latest</h1>
                        <p class="aa_header__text__intro" style="text-align: center;">applications</p>
                    </div>
                </div>
            </div>
        </header>
    
        <section class="content aa_clearfix">
            <div class="container-resp aa_grid aa_grid--2-m aa_grid--3-l aa_grid--4-xl aa_padding-t--20" style="margin-top: 20px;">
                <!-- app reviews -->
                <% @applications.each do |application| %>
                    <div class="aa_grid__elem">
                        <a href="<%= app_path %>?id=<%= application.id %>" class="aa_ar aa_clearfix item">
                            <div class="aa_ar__score">
                                <div class="aa_app__score" data-score="<%= application.average_rating %>">
                                    <svg class="aa_app__score__svg" height="100" width="100" stroke-dashoffset="<%= 250 - application.average_rating * 50 %>">
                                        <circle class="aa_app__score__svg__bg" cx="50" cy="50" r="40"></circle>
                                        <circle class="aa_app__score__svg__line" cx="50" cy="50" r="40"></circle>
                                    </svg>
                                </div>
                            </div>
    
                            <div class="aa_ar__icon">
                                <div class="aa_app__icon aa_bg aa_grad--5">
                                    <div class="aa_bg__ aa_bg__--abs aa_wait-to-load js-wait-to-load loaded" style="background-image: url('<%= application.appimage %>')"></div>
                                </div>
                            </div>
    
                            <div class="aa_ar__text">
                                <div class="aa_ar__text__">
                                    <h3 class="aa_ar__text__title aa_text--truncate">
                                        <%= application.application_name %>
                                    </h3>
    
                                    <div class="aa_ar__text__developer aa_text--truncate">
                                        <% application.categories.each do |category| %>
                                            <%= category.category_name %>,
                                        <% end %>    
                                    </div>
                                </div>
                            </div>
                            
                            <div class="aa_ar__details"><%= raw(application.description) %></div>
                        </a>
                    </div>
                    <% end %>
    
                        <!-- app reviews end -->
            </div>
            <div style="text-align: center;">
                <%= will_paginate @applications %>
            </div>
        </section>
    </div>
    <!-- page content end -->
<% end %>
