<!-- page content -->
<div class="main-wrapper">
    <% if @applications.present? %>
        <% @applications.each do |application| %>
            <header class="al_header">
                <div class="al_header__media">
                    <div id="js-header-parallax" class="al_header__media__img">
                        <div class="al_header__media__img__bg aa_wait-to-load js-wait-to-load" style="background-image: url('<%= application.appimage %>')"></div>
                    </div>
                </div>
        
                <div class="container-resp">
                    <div class="al_header__frame">
                        <div class="al_header__frame__canvas aa_clearfix">
                            <div class="al_title al_title--stick">
                                <div class="al_header__app-icon" style="background-image: url('<%= application.appimage %>')">
                                    <span></span>
                                    <span></span>
                                </div>
        
                                <div class="aa_padding-lr--20 aa_padding-tb--20 aa_noverflow">
                                    <h1 class="al_title__main">
                                        <span><%= application.application_name %></span>
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <section id="top" class="al_content" style="font-size: 15px;">
                <div class="al_content__main aa_clearfix">
                    <div class="al_content__main__author aa_clear">
                        Category: 
                        <% application.categories.each do |category| %>
                            <a class="underline aa_text--bold" href="/category?category=<%= category.category_name %>"><%= category.category_name %></a>,
                        <% end %>
                    </div>
                    <div class="al_content__main__author aa_clear">
                        Team: 
                            <%= application.team %>
                    </div>
                    <div class="al_content__main__author aa_clear">
                        Device: 
                            <%= application.device %>
                    </div>
        
                    <div class="aa_text--center aa_opacity--05 aa_margin-t--5"><%= application.created_at.strftime('%b %e,%Y') %></div>
                </div>
                <div class="row" style="width: 1250px; margin:0 auto;">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <div style="margin: 30px 10px; border-bottom: 1px solid #ccc;">
                            <p><%= raw(application.description) %></p>
                        </div>
                        <div class="slider-nav" style="width: 600px; margin: 50px auto;">
                            <div>
                                <% if application.screen1.present? %>
                                    <img style="height: 400px; max-width: 500px; margin: 0 auto;" src="<%= application.screen1 %>">
                                <% else %>
                                    <img style="height: 400px; max-width: 500px; margin: 0 auto;" src="assets/no-image-available.jpg">
                                <% end %>
                            </div>
                            <div>
                                <% if application.screen2.present? %>
                                    <img style="height: 400px; max-width: 500px; margin: 0 auto;" src="<%= application.screen2 %>">
                                <% else %>
                                    <img style="height: 400px; max-width: 500px; margin: 0 auto;" src="assets/no-image-available.jpg">
                                <% end %>
                            </div>
                            <div>
                                <% if application.screen3.present? %>
                                    <img style="height: 400px; max-width: 500px; margin: 0 auto;" src="<%= application.screen3 %>">
                                <% else %>
                                    <img style="height: 400px; max-width: 500px; margin: 0 auto;" src="assets/no-image-available.jpg">
                                <% end %>
                            </div>
                            <div>
                                <% if application.screen4.present? %>
                                    <img style="height: 400px; max-width: 500px; margin: 0 auto;" src="<%= application.screen4 %>">
                                <% else %>
                                    <img style="height: 400px; max-width: 500px; margin: 0 auto;" src="assets/no-image-available.jpg">
                                <% end %>
                            </div>
                            <div>
                                <% if application.screen5.present? %>
                                    <img style="height: 400px; max-width: 500px; margin: 0 auto;" src="<%= application.screen5 %>">
                                <% else %>
                                    <img style="height: 400px; max-width: 500px; margin: 0 auto;" src="assets/no-image-available.jpg">
                                <% end %>
                            </div>
                        </div>
                        <div class="row" style="margin: 20px 0;">
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                <h1 id="average_rating" style="font-size: 60px; margin: 0;"><%= application.average_rating %></h1>
                                <div style="background: url(<%= asset_path 'star1.png' %>); margin-left: 3px; width: 120px; height: 20px;">   
                                    <div id='average_rating_star' style="background: url(<%= asset_path 'star2.png' %>); width: <%= application.average_rating * 20 %>%; height: 20px;"></div>
                                </div>
                                <div style="margin-top: 10px; margin-left: 20px; font-size: 13px; color: #737373;">
                                    <span class="glyphicon glyphicon-user"></span>&nbsp;<span id="review_size"><%= application.reviews.size %></span> total
                                </div>
                            </div>
                            <div class="col-md-8">
                                <ul style="color: #737373; font-size: 13px;">
                                    <li>
                                        <div class="row">
                                            <div class="col-md-1" style="padding: 0; padding-left: 15px;">
                                                <span class="glyphicon glyphicon-star"></span>
                                                  5
                                            </div>
                                            <div class="col-md-11" style="padding: 0">
                                                <div id="rating_percent_5" style="width: <%= application.rating_percent(5) %>%; background-color: yellowgreen"><span id="rating_count_5" style="margin-left: 10px; color: #222"><%= application.rating_count(5) %></span></div>
                                            </div>
                                        </div>    
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-md-1" style="padding: 0; padding-left: 15px;">
                                                <span class="glyphicon glyphicon-star"></span>
                                                  4
                                            </div>
                                            <div class="col-md-11" style="padding: 0">
                                                <div id="rating_percent_4" style="width: <%= application.rating_percent(4) %>%; background-color: chartreuse"><span id="rating_count_4" style="margin-left: 10px; color: #222"><%= application.rating_count(4) %></span></div>
                                            </div>
                                        </div>    
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-md-1" style="padding: 0; padding-left: 15px;">
                                                <span class="glyphicon glyphicon-star"></span>
                                                  3
                                            </div>
                                            <div class="col-md-11" style="padding: 0">
                                                <div id="rating_percent_3" style="width: <%= application.rating_percent(3) %>%; background-color: coral"><span id="rating_count_3" style="margin-left: 10px; color: #222"><%= application.rating_count(3) %></span></div>
                                            </div>
                                        </div>    
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-md-1" style="padding: 0; padding-left: 15px;">
                                                <span class="glyphicon glyphicon-star"></span>
                                                  2
                                            </div>
                                            <div class="col-md-11" style="padding: 0">
                                                <div id="rating_percent_2" style="width: <%= application.rating_percent(2) %>%; background-color: darkturquoise"><span id="rating_count_2" style="margin-left: 10px; color: #222"><%= application.rating_count(2) %></span></div>
                                            </div>
                                        </div>    
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-md-1" style="padding: 0; padding-left: 15px;">
                                                <span class="glyphicon glyphicon-star"></span>
                                                  1
                                            </div>
                                            <div class="col-md-11" style="padding: 0">
                                                <div id="rating_percent_1" style="width: <%= application.rating_percent(1) %>%; background-color: hotpink"><span id="rating_count_1" style="margin-left: 10px; color: #222"><%= application.rating_count(1) %></span></div>
                                            </div>
                                        </div>    
                                    </li>
                                </ul>   
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                        <% if user_signed_in? %>
                        <div style="padding-left: 100px;">
                            <label for="input-rating" class="control-label">Rate This</label>
                            <% if @review_logged.present? %>
                                <input id="input-rating" class="rating" type="number" name="rating" value="<%= @review_logged.star.round(0) %>" data-min="0" data-max="5" data-step="1" data-size="xs">
                            <% else %>
                                <input id="input-rating" class="rating" type="number" name="rating" value="1" data-min="0" data-max="5" data-step="1" data-size="xs">
                            <% end %>
                        </div>
                        <% end %>
                        <div class="comments-container">
                    		<ul id="comments-list" class="comments-list">
                    		    <% if user_signed_in? %>
                    		    <li class="comment-input">
                    				<div class="comment-main-level">
                    					<!-- Avatar -->
                    					<% if current_user.avatar.present? %>
                					        <div class="comment-avatar"><img src="<%= current_user.avatar %>" alt=""></div>
                					    <% else %>
                					        <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt=""></div>
                					    <% end %>
                    					<!-- Contenedor del Comentario -->
                    					<div class="comment-box">
                    						<div class="comment-head">
                    							<h6 class="comment-name"><a href="#"><%= current_user.email %></a></h6>
                    						</div>
                    						<div class="comment-content">
                    						    <div class="form-group" style="margin-bottom: 0;">
                    						        <% if @review_logged.present? %>
                    			                        <% if @review_logged.comment? %>
                                                            <textarea class="form-control" rows="1" id="comment" name="comment"><%= @review_logged.comment %></textarea>
                                                        <% else %>
                                                            <textarea class="form-control" rows="1" id="comment" name="comment"></textarea>
                                                        <% end %> 
                                                    <% else %>  
                                                        <textarea class="form-control" rows="1" id="comment" name="comment"></textarea>
                                                    <% end %>    
                                                </div>
                    						</div>
                    					</div>
                    				</div>
                    			</li>
                    			<li class="comment-display">
                    				<div class="comment-main-level">
                    					<!-- Avatar -->
                					    <% if current_user.avatar.present? %>
                					        <div class="comment-avatar"><img src="<%= current_user.avatar %>" alt=""></div>
                					    <% else %>
                					        <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg" alt=""></div>
                					    <% end %> 
                    					<!-- Contenedor del Comentario -->
                    					<div class="comment-box">
                    						<div class="comment-head">
                    							<h6 class="comment-name by-author"><a href="#"><%= current_user.email %></a></h6>
                    							<span>
                    							<% if @review_logged.present? %>     
                        							<% if @review_logged.updated_at.present? %>     
                        							    <%= @review_logged.updated_at.strftime('%b %e,%Y') %>
                        							<% end %>
                        						<% end %>	
                    							</span>
                    							<div style="float: right"><span class="comment-edit" style="margin-right: 10px; cursor: pointer;">Edit</span><span class="comment-delete" style="cursor: pointer;">Delete</span></div>
                    						</div>
                    						<div class="comment-content" style="overflow: auto;">
                    						<% if @review_logged.present? %>      
                        						<% if @review_logged.comment.present? %>    
                        							<%= @review_logged.comment %>
                        						<% end %>	
                        					<% end %>	
                    						</div>
                    						<% if @review_logged.present? %>      
                    							<span class="like like-count<%= @review_logged.id %>"><%= @review_logged.likes.count() %></span>
                    							<span class="like glyphicon glyphicon-thumbs-up" style="padding: 0;"></span>
                    							<% if user_signed_in? %>
                        						    <% if @review_logged.likes.find_by(user_id: current_user.id).present? %>
                                                        <span class="like btn-like" id="<%= @review_logged.id %>" style="cursor: pointer;">Unlike</span>
                                                    <% else %>    
                                                        <span class="like btn-like" id="<%= @review_logged.id %>" style="cursor: pointer;">Like</span>
                                                    <% end %>
                                                <% end %>    
                                            <% end %>  
                    					</div>
                    				</div>
                    			</li>
                    			<% end %>
                    			<% if @reviews.present? %>
                        			<% @reviews.each do |review| %>
                        			    <% if review.comment.present? %>
                                			<li>
                                				<div class="comment-main-level">
                                					<!-- Avatar -->
                                					<% if review.user.avatar.present? %>
                            					        <div class="comment-avatar"><img src="<%= review.user.avatar %>" alt=""></div>
                            					    <% else %>
                            					        <div class="comment-avatar"><img src="http://i9.photobucket.com/albums/a88/creaticode/avatar_2_zps7de12f8b.jpg" alt=""></div>
                            					    <% end %> 
                                					<!-- Contenedor del Comentario -->
                                					<div class="comment-box">
                                						<div class="comment-head">
                                							<h6 class="comment-name"><a href="#"><%= review.user.email %></a></h6>
                                							<span><%= review.updated_at.strftime('%b %e,%Y') %></span>
                                						</div>
                                						<div class="comment-content" style="overflow: auto;">
                                							<%= review.comment %>
                                						</div>
                                						<span class="like like-count<%= review.id %>"><%= review.likes.count() %></span>
                                						<span class="like glyphicon glyphicon-thumbs-up" style="padding: 0;"></span>
                                						<% if user_signed_in? %>
                                						    <% if review.likes.find_by(user_id: current_user.id).present? %>
                                        						<span class="like btn-like" id="<%= review.id %>" style="cursor: pointer;">Unlike</span>
                                                            <% else %>    
                                                                <span class="like btn-like" id="<%= review.id %>" style="cursor: pointer;">Like</span>
                                                            <% end %>
                                                        <% end %>    
                                					</div>
                                				</div>
                                			</li>
                                		<% end %>	
                        			<% end %>
                    			<% end %>
                    		</ul>
                    	</div>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </section>
        <% end %>
    <% else %>
    <h2>Sorry, there is nothing to show!</h2>
    <% end %>
</div>
<!-- page content end -->
<script>
    $(document).ready(function(){
        $('.slider-nav').slick({
            autoplay: true,
            infinite: true,
            autoplaySpeed: 5000,
            slidesToScroll: 1,
            prevArrow: '<span class="glyphicon glyphicon-chevron-left"></span>',
            nextArrow: '<span class="glyphicon glyphicon-chevron-right"></span>'
        });
    });
</script>
<% if @applications.present? %>
    <% if user_signed_in? %>
        <% @applications.each do |application| %>
            <script>
                $(document).ready(function(){
                    $("#input-rating").rating();
                    $('div .clear-rating').remove();
                    if($('#comment').val() != ''){
                        $('.comment-input').hide();
                    }else{
                        $('.comment-display').hide();
                    }
                    $('.rating').click(function(){
                        formsubmit0();
                    });
                    $('#comment').keypress(function (e) {
                        if (e.which == 13) {
                            formsubmit1();
                            return false; 
                        }
                    });
                    $('.comment-edit').click(function(){
                        $('.comment-display').hide();
                        $('.comment-input').show();
                    });
                    $('.comment-delete').click(function(){
                        formsubmit2();
                    });
                    $('.btn-like').click(function(){
                        formlike($(this).attr('id'));
                    });
                });
                
                function formsubmit0() {
                    $.ajax({
                        type: "GET",
                        dataType: "json",
                        url: '/app/update',
                        contentType: 'application/json',
                        data: $.param({
                            app_id: <%= application.id %>,
                            user_id: <%= current_user.id %>,
                            rating: $('#input-rating').val(),
                            comment: $('#comment').val(),
                        }),
                        success: function(data) {
                            $('#average_rating').text(data.average_rating);
                            $('#average_rating_star').css('width',(data.average_rating * 20)+'%');
                            $('#review_size').text(data.size);
                            $('#rating_percent_5').css('width',data.rating_percent_5+'%');
                            $('#rating_count_5').text(data.rating_count_5);
                            $('#rating_percent_4').css('width',data.rating_percent_4+'%');
                            $('#rating_count_4').text(data.rating_count_4);
                            $('#rating_percent_3').css('width',data.rating_percent_3+'%');
                            $('#rating_count_3').text(data.rating_count_3);
                            $('#rating_percent_2').css('width',data.rating_percent_2+'%');
                            $('#rating_count_2').text(data.rating_count_2);
                            $('#rating_percent_1').css('width',data.rating_percent_1+'%');
                            $('#rating_count_1').text(data.rating_count_1);
                        },
                        error: function(){
                            alert ("Error");
                        }
                    });
                }
                
                function formsubmit1() {
                    $.ajax({
                        type: "GET",
                        dataType: "json",
                        url: '/app/update',
                        contentType: 'application/json',
                        data: $.param({
                            app_id: <%= application.id %>,
                            user_id: <%= current_user.id %>,
                            rating: $('#input-rating').val(),
                            comment: $('#comment').val(),
                        }),
                        success: function(msg) {
                            $('.comment-display .comment-content').text($('#comment').val());
                            $('.comment-display').show();
                            $('.comment-input').hide();
                        },
                        error: function(){
                            alert ("Error");
                        }
                    });
                }
                
                function formsubmit2() {
                    $.ajax({
                        type: "GET",
                        dataType: "json",
                        url: '/app/update',
                        contentType: 'application/json',
                        data: $.param({
                            app_id: <%= application.id %>,
                            user_id: <%= current_user.id %>,
                            rating: $('#input-rating').val(),
                            comment: '',
                        }),
                        success: function(msg) {
                            $('.comment-input textarea').val('');
                            $('.comment-display').hide();
                            $('.comment-input').show();
                        },
                        error: function(){
                            alert ("Error");
                        }
                    });
                }
                
                function formlike(id) {
                    $.ajax({
                        type: "GET",
                        dataType: "json",
                        url: '/app/update',
                        contentType: 'application/json',
                        data: $.param({
                            review_id: id,
                            user_id: <%= current_user.id %>,
                        }),
                        success: function(msg) {
                            $('.like-count'+id).text(msg);
                            if($('#'+id+'.btn-like').text() == 'Like'){
                                $('#'+id+'.btn-like').text('Unlike');
                                console.log($('#'+id+'.btn-like').text());
                            }else{
                                $('#'+id+'.btn-like').text('Like');
                                console.log($('#'+id+'.btn-like').text());
                            }
                        },
                        error: function(){
                            alert ("Error");
                        }
                    });
                }
            </script>
        <% end %>    
    <% end %>
<% end %>    