<% if current_user.try(:admin?) %>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <!-- Logo -->
                    <div class="logo">
                        <h1>
                            <%= link_to "App Review", root_path %>
                        </h1>
                    </div>
                </div>
                <div class="col-md-5">
                    <form action="<%= admin_applications_path %>" method="get">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="input-group form">
                                    <!--<input type="text" class="form-control" placeholder="App name...">-->
                                    <%= text_field_tag :application_hint, nil, class: "form-control" %>
                                    <span class="input-group-btn">
                                      <button class="btn btn-primary" type="submit">Search</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>  
                <div class="col-md-2">
                    <div class="navbar navbar-inverse" role="banner">
                        <nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <%= link_to "LOG OUT", destroy_user_session_path, :method => :delete %>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% else %>
    <!-- main menu -->
        <nav id="js-nav" class="am am--aa">
            <div class="container-resp" style="margin: 0 auto; max-width: 1250px;">
                <a href="<%= root_path %>" class="am__elem aa_pull--left aa_padding-l--0">
                    <div class="am__elem__text aa_text--24 aa_text--light">App<span class="aa_text--bold">Review</span></div>
                </a>
        
                <div class="am__elem aa_pull--right am__elem--click js-dark-btn %&gt;">
                </div>
        
                <div class="am__main aa_pull--right">
                    <div class="am__elem aa_pull--right am__elem--click js-nav-open no-record-l">
                        <div class="am__elem__sub js-nav-set-height" style="max-height: none;">
                            <div class="btn btn-lg search-button">
                                <span class="glyphicon glyphicon-search"></span>
                            </div>
                            
                            <% if user_signed_in? %>
                                <div class="header-profile dropdown">
                					<% if current_user.avatar.present? %>
                    			        <img class="header-avatar" src="<%= current_user.avatar %>">
                    			    <% else %>
                					    <img class="header-avatar" src="http://i9.photobucket.com/albums/a88/creaticode/avatar_1_zps8e1c80cd.jpg">
                					<% end %>
                    				<span><%= current_user.email %></span>
                    				<span class="glyphicon glyphicon-triangle-bottom header-triangle-bottom"></span>
                    				<ul class="dropdown-menu">
                                        <li><%= link_to "EDIT", edit_user_registration_path %></li>
                                        <li><%= link_to "SIGN OUT", destroy_user_session_path, :method => :delete %></li>
                                    </ul>
                                </div>
                            <% else %>
                                <div class="am__elem__text" style="padding-left: 10px;"><%= link_to "SIGN IN", user_session_path %></div>
                                <div class="am__elem__text" style="margin-left: 15px"><%= link_to "SIGN UP", new_user_registration_path %></div>
                            <% end %>

                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="search-input">
            <div style="width: 800px; margin: 30px auto;">
                <form action="<%= search_path %>" method="get">
                    <div class="row">
                        <div class="form-group col-sm-10" style="margin-bottom: 0;">
                            <input type="text" class="form-control" id="search" name="search" placeholder="applications, ...">
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-success" style="">Search</button>
                        </div>
                        <div class="form-group col-sm-4" style="margin-top: 15px;">
                            <label for="category">Category:</label>
                            <select class="form-control" id="category" name="category">
                                <option value='all'  selected>All</option>
                                <% Category.all.each do |category| %>
                                <option value='<%= category.category_name %>'><%= category.category_name %></option>
                                <% end %>
                            </select>
                        </div>
                        <div class="col-sm-4" style="margin-top: 15px;">
                            <label for="range">Minimum Rate:</label>
                            <div class="range range-success" style="margin-top: 5px; background-color: white;">
                                <input type="range" name="minrating" min="0" max="5" value="0" onchange="$('#rate-output').val(value+'*');">
                                <output id="rate-output">0 *</output>
                            </div>
                        </div>
                    </div>    
                </form>
            </div>
        </div>
    <!-- main menu end -->

<% end %>
